certifi==2019.6.16
cffi==1.12.3
mkl-fft==1.0.12
mkl-random==1.0.2
numpy==1.16.4
olefile==0.46
-e git+https://dimitris_michailidis@bitbucket.org/naspersonly/olx_click_predict.git@5b51c38081f342a0e48e5ada7d42b5692dfbf1bb#egg=olx_click_predict
pandas==0.24.2
Pillow==6.0.0
py4j==0.10.7
pycparser==2.19
pyspark==2.4.3
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
torch==1.1.0
torchvision==0.3.0
